<ion-content scrollY="false">
    <ion-grid class="grid1">
        <img src="assets/img/warehouse.jpg">
    </ion-grid>
  
    <ion-slide>
        <div class="contaier-login">
            <form #formulario="ngForm" (ngSubmit)="submit()">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <h1>Iniciar Sesión</h1>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-list>
                                <ion-item>
                                <ion-icon class="mail-outline"></ion-icon>
                                <ion-input 
                                    name="email" 
                                    type="email" 
                                    required 
                                    placeholder="Email"
                                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
                                    [(ngModel)]="usuario.email">
                                </ion-input>
                                </ion-item>
                                <br/>
                                <ion-item>
                                <ion-icon name="lock-closed" class="icon-login"></ion-icon>
                                <ion-input 
                                    name="password" 
                                    type="password" 
                                    required 
                                    placeholder="Contraseña"
                                    [(ngModel)]="usuario.password">
                                </ion-input>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                        <ion-button type="submit" fill="solid" expand="full" [routerLink]="['/user-list']" [disabled]="formulario.invalid"> Entrar </ion-button>
                        <ion-button type="submit" fill="solid" expand="full" color="danger" [routerLink]="['/register']"> Registrate </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
      </div>
  </ion-slide>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>AlmaGest© 2021 </ion-title>
  </ion-toolbar>
</ion-footer>