<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <ion-content>
    <form #formulario="ngForm" (ngSubmit)="submit()">
      <ion-item lines="full">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" name="firstname" [(ngModel)]="usuario.firstname" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input type="text" name="secondname" [(ngModel)]="usuario.secondname" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="usuario.email" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="usuario.password" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Confirma Contraseña</ion-label>
        <ion-input type="password" name="c_password" [(ngModel)]="usuario.c_password" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">ID Compañía</ion-label>
        <ion-input type="text" name="company_id" [(ngModel)]="usuario.company_id" required></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" [routerLink]="['/']" routerLinkActive="router-link-active"  expand="block">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>AlmaGest© 2021 </ion-title>
  </ion-toolbar>
</ion-footer>