<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Grafica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select [(ngModel)]="datosPedidos" >
    <ion-select-option *ngFor="let datosPedido of datosPedidos">Pedido {{ datosPedido.id }}</ion-select-option>
  </ion-select> 
</ion-content>
<ion-footer>
  <div>
    <div style="display: block">
      <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    <ion-button fill="solid" expand="full" color="primary" (click)="update()">Generar Gráfica</ion-button>
  </div>
</ion-footer>
