<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Grafica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select [(ngModel)]="pedidos" >
    <ion-select-option *ngFor="let pedido of pedidos">Pedido {{ pedido.id }}</ion-select-option>
  </ion-select> 


  <div>
    <div style="display: block; padding-top: 10%">
      <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
  
</ion-content>
